<div class='top-wrapper'>
  <div class='top-inner-text'>
    <h1>英語タイピングアプリ</h1>
    <h1>Welcome to TypeLearnEnglish</h1>
    <p>
      <%= link_to 'タイピング練習を始める', new_practice_path, class: 'btn btn-primary' %>
      <%= link_to '英文一覧', articles_path, class: 'btn btn-secondary' %>
    </p>
  </div>
</div>