<h1>タイピング練習</h1>

<div class="form-container" style="max-width: 500px; margin: 0 auto; text-align: center;">
  <%= form_with model: Practice.new, url: practices_path, local: true, id: 'practice_form' do |form| %>
    <div class="form-group">
      <%= form.label :difficulty_level, "難易度を選択してください", class: "form-label" %>
      <%= form.select :difficulty_level, @difficulty_levels, { prompt: "クリックで難易度選択" }, { class: "form-control", id: 'difficulty_level' } %>
    </div>
    <div style="margin-top: 20px;">
      <%= form.submit "Start", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const form = document.getElementById('practice_form');
    const difficultySelect = document.getElementById('difficulty_level');

    form.addEventListener('submit', function(event) {
      if (difficultySelect.value === "") {
        event.preventDefault();
        alert("難易度を選択してください。");
      }
    });
  });
</script>